@media (max-width: 960px) {
    .header {
        width: 100%;
        height: 640px;
        background-image: url(/img/mainBanner.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        &__inner {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            .cube {
                margin-top: 40px;
            }
        }
        &__login {
            width: 50px;
            margin-top: 40px;
            background-color: #fff;
            border-radius: 45%;
            padding: 5px 8px;
            align-items: center;
            .icon {
                color: #F78065;
                margin: 5px;
                font-size: 25px;
            }
            .down {
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
        .info {
            width: 380px;
            background-color: rgb(35, 192, 21);
            height: 250px;
            padding: 25px 60px 15px 30px;
            position: absolute;
            top: 70%;
            box-shadow: 3px 5px 5px 1px rgba(218, 213, 213, 0.699);
        }
        h1 {
            padding-top: 30px;
            span {
                color: #F78065;
            }
        }
        p {
            padding-top: 40px;
        }
        button {
            border: none;
            color: #fff;
        }
        .button {
            margin-top: 40px;
            padding: 10px 30px;
            background-color: #F78065;
        }
    }
}